
<footer class="bg-light text-center">
    <div class="text-center p-3" style="background-color: #13534e; color: white;">
      © 2021 Copyright:
      <b style="color: white;" class="text-light">Gowthamraj K</b>
      <br><br>
      <section class="mb-4">
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998; border: none;" href="#!" role="button"><i class="fa fa-facebook-f"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee; border: none;" href="#!" role="button"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39; border: none;" href="#!" role="button"><i class="fa fa-google"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca; border: none;" href="#!" role="button"><i class="fa fa-linkedin"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border: none;" href="#!" role="button"><i class="fa fa-github"></i></a>
      </section>
    </div>  
</footer>