.sidebar-text
  {
      font-size: small;
  }
  .sidebar-logo {
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    text-align: right;
    background-color: #13534e;
    width: 100%;
  }
  .logoutbtn{
    border: none;
    background:transparent;
    color: white;
    border-radius: 15px;
    margin-left: 1px;
    margin-right: 1%;
    padding: 5px 10px 5px 10px;
    font-size: small;
  }
  .logoutbtn:hover{
    cursor: pointer;
    background-color: #23ad9b;
    padding: 5px 8px 5px 8px;
    border-radius: 15px;
  }
  .row
  {
    margin-left: 10%;
    margin-top: 3%;
  }
  #bloodCards
  {
    margin-right: 5%;
    margin-bottom: 4%;
    width: 40%;
    padding: 15px;
    transition: transform .2s;
    box-shadow: 5px 5px 25px 8px rgb(147, 158, 147);
  }
  #bloodCards:hover
  {
    transform: scale(1.05);
    cursor: pointer;
  }
.bloodimg
{
  float: right;
}
.card-block
{
  margin-top: -28%;
  text-transform: capitalize;
}
.text{
  font-family: 'Mate SC', serif;
  font-size: larger;
  font-weight: bolder;
}
#searchtxt
{
  width: 20%;
  float: right;
}

